* {
    padding: 0;
    margin: 0;
}
section{
    width: 1000px;
    height: 500px;
    justify-content: center;
    margin: auto;
}
.div1{
    height: 150px;
    width: 1050px;
    background-color: aqua;
}
.div2{
    height: 250px;
    width: 300px;
    background-color: coral;
    margin-top: 10px;
}
.div3{
    height: 520px;
    width: 300px;
    background-color: darkblue;
    margin-left: 310px;
    margin-top: -250px;
}
.div4{
    height: 250px;
    width: 300px;
    background-color: green;
    margin-top: -250px;
}